/* Declaracion Variable*/
:root{
    --colorPrincipal:#e1d800;
    --colorSecundario: #e12301;
    --colorSeleccion: 	#dba24a;


}
/* Navegacion  */
.nav {

   border:1px solid var(--colorSecundario);
   color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
   
}
/* Navegacion contenido interno */
.nav__contenido {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
    
   
    
    
}
/* Navegacion  Logo*/
.nav__logo{

    display: flex;
    justify-content:center;
    align-items: center;
    border-bottom: solid 1px var(--colorSecundario);
  
   
}

/* Navegacion  Imagen del logo*/
.nav__logo__imagen {

   width: 5em;
  

    
}
/* Navegacion Texto Logo */
.nav__logo__nombre {
   
    font-size: 2em;
}

/* Navegacion seccion Enlaces */
.nav__enlace{

  
    text-decoration: none;
    font-size: 1.5em;
    color: var(--colorSecundario);
    
    
    
    
    
    
}

/* Menu hamburguesa  */
.fa-bars{
    
     padding: 1rem;
    margin: 0.1rem;
    font-size: 1.8rem;
    background-color: var(--colorSeleccion);
    border-radius: 0.5rem;
}
.menu__toggle{
   
    display: none;
}
.nav__enlaces{
    display: none;
}
.menu__toggle:checked + .nav__enlaces {
    display: block;
}


/* Media queries para dispostivos escritorio */
@media (min-width: 768px) {
    .menu__toggle:checked + .nav__enlaces {
        display: flex;
    }
  .nav__enlaces {
        display: flex;
    }
   
    .menu__boton{
        display: none;
    }
    .nav__contenido{

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav__logo{

        border: 0;
    }
    .nav__logo__nombre {
   
        font-size: 1.8em;
    }
    .nav__logo__imagen {

        width: 8rem;
      
    
        
    }
    .nav__enlace
    {
        display: flex;
        font-size: 1.5em;
        padding: 0rem 2rem;
        border: 0;
    }
    .nav__enlace--activo:hover {
     
        color:var(--colorSeleccion);
        transition: all 0.3s ;
       }
}


@media (min-width: 900px)
 {
    .nav__logo__nombre {
   
        font-size: 2.2em;
    }
  .nav__enlace{
      font-size: 2em;
  }

 }

