/* Declaracion Variable*/
:root{
    --colorPrincipal:rgb(253,221,100);
    --colorPrincipalFuerte:#e1d800;
    --colorSecundario: #e12301;
    --colorSeleccion: 	#dba24a;



}
body {
    font-family: 'Amatic SC', cursive;
    color: var(--colorSecundario);
    font-weight: 700;
    font-size: 1.3rem;
    background-color: #f1faee;
}
h1{
    
     font-size: 2.5rem; 
}
h2{
   font-size: 2rem;
}
p{
   
    font-size: 1.5rem;
}
/* Utilitad */
.centrar{text-align: center;}
/* Navegacion  */
.nav {

   color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
   
}
/* Navegacion contenido interno */

/* Navegacion  Logo*/
.nav__logo{

    display: flex;
    justify-content:center;
    align-items: center;
    /* border-bottom: solid 1px var(--colorSecundario); */
    height: 7rem;
  
   
}

/* Navegacion  Imagen del logo*/
.nav__logo__imagen {  width: 5em;  }
/* Navegacion Texto Logo */
.nav__logo__nombre { font-size: 2em;}

/* Navegacion seccion Enlaces */
.nav__enlace{

  
    text-decoration: none;
    font-size: 1.5em;
    color: var(--colorSecundario);
    
}

/* Menu hamburguesa  */
.fa-bars{
    
     padding: 1rem;
    margin: 0.1rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
}
.menu__boton{  text-align: left;}
.menu__toggle{ display: none;}
.nav__enlaces{display: none;}
.enlace__texto{ font-size:2.5rem; }

.menu__toggle:checked + .nav__enlaces {
   
    display: block;
    height: 26rem;
}

/* Nosotros */

.nos{   
    padding: 1rem;
    margin-top: 3rem;
    background-color: #e9c46a;
}


/* trabajo */

.trabajo{

    padding: 3rem 0rem;
    background-color:var(--colorPrincipal);
}
.imagen1{
    background-image:url("../img/promo2.jpg");
    background-position:65% 50%;
   background-size: cover;
    width: 100%;
    height: 25rem; 
 
}

.servicios{
    padding: 3rem 0rem;
    background-color: #e9c46a;
}
.icono__container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.icono__titulo{font-size: 2.5rem;}

.icono{
    width: 12rem;
    font-size: 2.5rem;  
    margin-left: auto;
   margin-right: auto;
 
    
}
.icono__texto{
   
    font-size: 1.3rem;
   width: 35%;
   margin-left: auto;
   margin-right: auto;  
}
.icono__container--servicios{
   padding-bottom: 3rem;
}

@media (min-width: 992px)
 {
    h1{ font-size: 4.0rem; }
    h2{ font-size: 3.5rem; }
    p{ font-size: 2.5rem; }

    .nav__logo__nombre {
        font-size: 2.2em;
    }
  .nav__enlace{
    padding: 0rem 2rem;
  }
  .enlace__texto{
      font-size:2.2rem;
  }
  .imagen1{
      background-position: center;
      height: 40rem;
  }

 }



 /* Seccion Promo */


 .promo__texto{ padding: 0rem 0.3rem;}
 .promo__imagen{
     background-image: url("../img/promo.jpg");
     background-position: center;
     background-size: cover;
     width: 100%;
     height: 18rem; 
 }


/* Botones  */

 .btn{
    display: block;
margin: 2rem 0;
padding:2rem 0rem;
font-size: 2.5rem;
width: 100%;
font-weight: 700;
  border: none;
  background-color: var(--colorPrincipal);
  color: var(--colorSecundario);
}

/* Clientes */
.clientes{
   
    padding-top: 3rem;
    
    background-color: rgb(237, 100,126);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: white;
}
.clientes__texto{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.cliente__box{
 
    background-image: url("../img/placeholder.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30rem; 
}

.cliente__box1{background-image: url("../img/empresa1.jpg");}
.cliente__box2{background-image: url("../img/empresa2.jpg")}
.cliente__box3{background-image: url("../img/empresa3.jpg");}
.cliente__box4{background-image: url("../img/empresa4.jpg");}
.cliente__box5{background-image: url("../img/empresa5.jpg");}

.cliente__box p{  
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: white;
     display: block;
    padding: 1rem 0rem 0rem 1rem;
    text-align: left; }
    


/* Contacto */
.contacto{
    height: 30rem;
}
.contacto__info{
    
    color: white;
      position: relative;
     z-index: 2;
  
}
.contacto__titulo{
    text-align: center;
}
.contacto__texto{
    margin-left: 2rem;
}

.contacto__imagen{
   margin: 0 auto;
    background-image: url("../img/contacto.jpg");
    background-position: center;
    background-size: cover;
    width: 150vh;
    
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
    position:absolute;
    z-index: 1;
 height: 30rem;
}

.footer__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    
}

footer{  
        background-color: var(--colorPrincipal);
       
    }

/* Media queries para dispostivos tablet */
@media (min-width: 768px) {
    .menu__toggle:checked + .nav__enlaces {
        display: flex;
    }
  .nav__enlaces {
        display: flex;
        justify-content: space-around;
        
    }

    
    .menu__boton{
        display: none;
    }
    .nav__contenido{

        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    
    .nav__logo{

        border: 0;
    }
    .nav__logo__nombre {
   
        font-size: 1.8em;
    }
    .nav__logo__imagen {
        width: 8rem; 
    }
    .nav__enlace
    {
        display: flex;
        padding: 0rem .8rem;
       
    }
    .enlace__texto{
        font-size: 2rem;
    }
    
    .nav__enlace--activo:hover {
     
        color:var(--colorSeleccion);
        transition: all 0.3s ;
       }

       .icono__container{
           width: 80%;
           margin: 0 auto;
       }
       .icono__texto{
        
         width: 60%;
         font-size:1.5rem;
         margin: 0 auto;
         margin-top: 0.5rem;
        
        }
    .nos{
        margin-top: 0rem;
    }
 

    .contacto__imagen{
        width: 200vh;
    }
}
   
/* Media querie secccion promo */

@media (min-width: 992px) 
{

    .fa-solid{
        font-size: 5rem;
    }
    .icono__texto{
        font-size: 1.8rem;
        width: 100%;

    }
    .promo__flex{
        display: flex;
        justify-content:space-between;
        flex: 1; 
    }
    
    .promo__imagen{
        width: 49%;
        height: 62vh;
        order: 2; 
    }
    .promo__texto {
        margin-left: 1rem;
    }
    .promo__principal {
       
        width: 49%;
        height: 55vh;  
    }

    .botones{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .btn{

        border-radius: 10rem;
        width: 14rem;
        font-size:2rem;
       
    }

    .btn:hover{
        
        transform: scale(1.1);
        transition: all .3s ease-in-out;
    }

    .clientes__container { display: flex; }

    .cliente__box {box-shadow: none;}
  
    .cliente__box p{  display: none;}


    .cliente__box:hover 
    {
        z-index: 1;
        transition: all 0.4s;
       transform: scale(1.2);
       box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
    }
    .cliente__box:hover:first-of-type:hover {   margin-left: 2%; }
    .cliente__box:hover:last-of-type:hover {  margin-right: 2.1%; }
    .cliente__box:hover p
    {
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       color: white;
        display: block;
        margin-left: 1rem;
    }
    .box__info{
        font-size: 1.5rem;
    }

    .contacto{
       
        display: flex;
        height: 45rem;
        justify-content:space-between;
      
       
        flex: 1;
        z-index: -1;
    }
    .contacto__info{
        
        width: 100%;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
         position: static;
         background-image: url(../img/contacto1.jpg);
         background-position: center;
         background-size: cover;
         order: 1;
        
        
    }
    .contacto__titulo{
        font-size: 3rem;
    }
    .contacto__texto{
        font-size: 2.5rem;
    }
    .contacto__imagen{
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.0);
        width: 100%;
        background-position: center;
        background-size: cover;
        position: static;
        height: 45rem;
        z-index: 0;
       order: 2;
        
       
    }





    .footer__img{
        position: static;
       width: 7rem;
      
   

}

}


@media (min-width: 1200px) 
{
    
    .btn{
        width: 16rem;
        font-size:2.5rem;
    }
    h1{ font-size: 5rem; }
    .icono__titulo{font-size: 5rem; 
    padding-bottom: 3rem;}


    .icono__container{
        padding-bottom: 3rem;
    }
    .icono__container--servicios{
        padding-bottom: 6.6rem;
     }
}

@media (min-width: 1400px) {
    
   
    
    .btn{ 
        width: 20rem;
        font-size:3rem;

    }
}

